/* Для правильных расчетов размеров */
html,
.swiper-wrapper {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body - глобальные стили */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* WebKit специфичные стили */
button,
a {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

/* focus - глобальное отключение */
*:focus {
  outline: none;
}