/*----------- ГЛАВНАЯ ------------*/

/* hero */
.hero-bg {
  background-image: url('../img/hero.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Swiper кнопки навигации - стили для главной */
.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin: 0;
  padding: 0;
  width: 14px;
}
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  content: '';
}

/* MOBILE */
@media (max-width: 767px) {
  .hero-bg {
    background-image: url('../img/hero_mob.webp');
  }
}